/*************
Nav
*************/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	
}
.content {
	width: 100%;
	
	
}

.content h1 {
	text-align: center;
}
nav {
	padding: 5px;
	border-bottom: 1px solid black;
	
}
nav ul {
	margin: 5px 10px;
	height: 40px;
	position: relative;
	top: 0px;
	right: -30%;	
}
nav li {
	display: inline-block;

}
nav a {
	display: block;
	text-decoration: none;
	margin-right: 15px;
	
}
nav a:hover {
	
}
.logo {
	font-size: 1.7em;
	float: left;
}

footer {
	
}
/***********************************
Slider
**************************************/

